*{
    box-sizing: border-box;
    margin: 0 0;
}

.navbar{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-image: linear-gradient(to right, #672280 ,#A626D3 );
    padding: 20px;
    color: white;
}

.nav--title{
    margin-right: 25%;
    margin-left: 2%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    margin-left: 10px;
}

.nav--image{
    width: 30px;
    height: 31.31px;
}

.input--form{
    /* background-color: grey; */
    margin: 0px 0;
    padding: 30px;
        
}
.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #000; */
    
}

.lower-text , .upper-text{
    width: 40%;
}

.lower-text , .upper-text , .form-submit{
    border: solid rgb(183, 183, 183) 0.2px;
    padding: 8px;
    margin: 6px;
    border-radius: 5px;
    text-indent: 5px;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #000; */
    
}
.form-submit{
    width: 100%;
    background-image: linear-gradient(to right ,  #672280 ,#A626D3 );
    color: white;
    padding: 10px;
    border: none;
}

.newmeme{
    max-width: 100%;
    border-radius: 3px;
}


.meme {
    position: relative;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

